@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-hex: #f5f6fa;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-hex: 0, 0, 0;
	}
} */

#__next {
	height: 100vh;
	width: 100%;
}

body {
	color: rgb(var(--foreground-rgb));
	background-color: var(--background-hex);
}
